:root {
    --white-color: #FFFFFF;
    --black-color: #333333;
    --primary-bg: linear-gradient(89.76deg, rgba(236, 184, 255, 0.08) 0.21%, rgba(122, 97, 255, 0.08) 99.79%);
}

@font-face {
    font-family: 'Clash Grotesk';
    src: url(../fonts/Variable/ClashGrotesk-Variable.ttf);
}

/* DEFAULT CSS  */

html {
    font-family: 'Clash Grotesk';
    font-size: 62.5%;
    font-style: normal;
    color: #282828;
}

html,
body {
    overflow-x: hidden;
}

body,
html {
    width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.project-item-game {
    display: none;
}

.project-item-investment {
    display: none;
}

.project-item-finance {
    display: none;
}

.project-item-insurance {
    display: none;
}

.project-item-education {
    display: none;
}

.project-item-entertainment {
    display: none;
}

.hide {
    display: none;
}

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.7;
    cursor: pointer;
}

/* BASE CSS  */

.btn-view-more {
    background: linear-gradient(90deg, #A192F3 0%, #8877E1 100%);
    border-radius: 8px;
    padding: 12px 20px;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
}

.btn-view-more:hover {
    background: #A192F3;
}

.btn-view-more:active {
    background: #6C5DB8;
}

.heading {
    font-weight: 600;
    font-size: 5.2rem;
    line-height: 64px;
}

.hero-title {
    font-weight: 600;
    font-size: 6.8rem;
    line-height: 110%;
    color: #A192F3;
}

.hero-description {
    font-weight: 400;
    font-size: 6rem;
    line-height: 110%;
    color: var(--black-color);
}

.btn-primary {
    text-align: center;
    background: #8877E1;
    border-radius: 8px;
    border: none;
    padding: 12px 20px;
    line-height: 22px;
    font-weight: 500;
    font-size: 1.8rem;
    color: var(--white-color);
}

.title {
    font-weight: 600;
    font-size: 5.2rem;
    line-height: 64px;
    color: var(--black-color);
    margin-bottom: 24px;
}

.description {
    font-weight: 400;
    font-size: 2rem;
    line-height: 140%;
    color: var(--black-color);
}

.text-white {
    color: var(--white-color);
}

/* HEADER  */

.header {
    position: fixed;
    z-index: 99;
    top: 0;
    height: 7.2rem;
    width: 100%;
    background: var(--white-color);
    box-shadow: 0px 4px 15px rgb(108 93 184 / 20%);
}

.name-bold {
    color: #A192F3;
    font-weight: 600;
}

.header .nav-bar .nav-list {
    display: flex;
    margin-bottom: 0;
}

.header .nav-bar {
    display: flex;
}

.header .nav-bar .menu-mobile {
    display: none;
}

/* menu */
.menu-mobile {
    max-width: 18px;
    max-height: 12px;
    cursor: pointer;
    display: block;
}

.sidepanel {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 250px;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidepanel a:hover {
    color: #f1f1f1;
}

.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.openbtn:active {
    box-shadow: 0px 4px 15px rgba(108, 93, 184, 0.2);
}

.header .nav-bar .nav-list .nav-item .nav-link {
    font-family: 'Clash Grotesk';
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 20px;
    color: var(--black-color);
    text-transform: capitalize;
    padding: 0 25px;
}

.header .nav-bar .nav-list .nav-item .nav-link:hover {
    color: #A192F3
}

.header .nav-bar .nav-list .nav-item .nav-link:active {
    color: #6C5DB8;
}

/* HOME  */

.home {
    margin-top: 71px;
    min-height: 100vh;
    background: var(--primary-bg);
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 28px;
}


/* OUr SERVICE */

.our-services {
    background: #1A1328;
    border-radius: 40px;
}

.our-services .heading {
    padding-top: 96px;
    padding-bottom: 40px;
}

.our-services .service-card {
    text-align: center;
    padding: 24px;
    margin-bottom: 35px;
    height: 450px;
    border-radius: 16px;
    color: var(--white-color);
    background: linear-gradient(0deg, #181126 0%, #454C5C 100%);
    border: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.our-services .service-card-jp {
    height: 525px;
}

.our-services .service-card:hover {
    background: linear-gradient(0deg, #181126 0%, #625374 100%);
}

.our-services .service-card .service-img {
    /* width        : 150px; */
    width: 68px;
    display: inline-block;
    /* margin       : 20px; */
    margin-bottom: 30px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(236, 184, 255, 0.8) 0%, rgba(161, 146, 243, 0) 100%);
    border-radius: 111px;
}

.our-services .service-card .card-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 8px;
}

.our-services .service-card .card-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #CCCCCC;
}

/* OUR TEAM */

.our-team .heading {
    color: var(--black-color);
    padding-top: 96px;
    padding-bottom: 40px;
    text-align: start;
}

.our-team .team-card {
    text-align: center;
    border: 3px solid #8877E1;
    border-radius: 20px;
    padding: 10px;
}

.our-team .team-card:hover {
    box-shadow: 0px 4px 21px rgba(161, 146, 243, 0.8);
    cursor: pointer;
}

.our-team .team-card:active {
    background: #E2DCFF;
    box-shadow: 0px 4px 21px rgba(161, 146, 243, 0.8);
}

.our-team .team-card .team-card-title {
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #6C5DB8;
    margin-top: 16px;
}

.our-team .team-card .team-card-label {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: var(--black-color);

}

.img-member {
    border-radius: 8px;
}

.member-lightbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 80px;
    gap: 32px;
    position: absolute;
    background: #FFFFFF;
    border-radius: 16px;
}

.bg-dai {
    background-image: url('../image/img-bg-popup/nft-game-Mavia.webp');
}

.member-img {
    background-size: cover;
    background: no-repeat url('../image/img-team/blockchain-developers-minh.jpg');
    border-radius: 16px;
    background: linear-gradient(180deg, #ECB8FF -4.19%, #A192F3 53.64%, #8877E1 100%);
    border-radius: 24.5703px;
    padding: 14.7422px;
    width: 100%;
    height: 100%;
}

.member-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 0px 0px;
}


.modal-dialog {
    max-width: 1200px !important;
    margin: 1.75rem auto;
}

h4.member-name-child {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #6C5DB8;
}

h4.member-name-child-mobile {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #6C5DB8;
}

h4.member-name-child-jp {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #6C5DB8;
}

span.name-note {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #344054;
    display: inline-block;
    margin-bottom: 5px;
}

.member-job {
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    color: #333333;
}

span.hr_member {
    max-width: 718.82px;
    max-height: 2px;
    background: linear-gradient(90deg, #A192F3 0%, #8877E1 100%);
}

.member-lightbox-mobile {
    /* display: flex;
    flex-direction: column;
    padding: 16px 16px 24px;
    gap: 12px;
    background: #FFFFFF;
    border-radius: 16px;
    width: 100%;
    margin: 0px 10px; */
    display: none;
}

.desc>.des {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #333333;
    text-align: start;
}

/* OUR PROJECT */

.our-project {
    color: var(--black-color);
    padding-top: 96px;
    padding-bottom: 40px;
}

.our-project .heading {
    font-weight: 600;
    font-size: 52px;
    line-height: 64px;
    color: #333333;
    padding-top: 96px;
    padding-bottom: 40px;
    text-align: center;
}

.block-project {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 32px 40px;
    background: #F5F2FF;
    border-radius: 16px;
    margin-bottom: 40px;
}

.project-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 0px;
    margin: 10px 0px;
    gap: 10px;
    /* max-height: 144px; */
    background: white;
    border: 2px solid #A192F3;
    border-radius: 12px;
    cursor: pointer;

}

.project-item:hover {
    background: #F5F2FF;
}

.project-item-active {
    background: #E2DCFF;
}

.right-content-project {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 428px;
    border-radius: 16px;

}

.content-item-project {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 26px;
}

.title-project {
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #FFFFFF;
}

.des-project {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
}

.tech-project {
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
}

.link-name {
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    text-decoration-line: underline;
    color: #ECB8FF;
    word-break: break-all;
}

.bg-Mavia {
    background-image: url('../image/img-bg-popup/nft-game-Mavia.webp');
}

.bg-Undead_Block {
    background-image: url('../image/img-bg-popup/nft-game-Undead_Block.webp');
}

.bg-Fortia {
    background-image: url('../image/img-bg-popup/nft-game-Fortia.webp');
}

.bg-Warena {
    background-image: url('../image/img-bg-popup/nft-game-Warena.webp');
}

.bg-EpicWar {
    background-image: url('../image/img-bg-popup/nft-game-EpicWar.webp');
}

.bg-MemePad {
    background-image: url('../image/img-bg-popup/cryptocurrency-MemePad.webp');
}

.bg-TX8 {
    background-image: url('../image/img-bg-popup/cryptocurrency-TX8.webp');
}

.bg-Treelion {
    background-image: url('../image/img-bg-popup/cryptocurrency-Treelion.webp');
}

.bg-topaz {
    background-image: url('../image/img-bg-popup/fintech-outsourcing-topaz.webp');
}

.bg-atlas {
    background-image: url('../image/img-bg-popup/fintech-outsourcing-atlas.webp');
}

.bg-midas {
    background-image: url('../image/img-bg-popup/blockchain-insurance-midas.webp');
}

.bg-sto {
    background-image: url('../image/img-bg-popup/blockchain-insurance-sto.webp');
}

.bg-themis {
    background-image: url('../image/img-bg-popup/blockchain-education-back-themis.webp');
}

.bg-JUCC {
    background-image: url('../image/img-bg-popup/blockchain-education-back-JUCC.webp');
}

.bg-nafter {
    background-image: url('../image/img-bg-popup/token-entertainment-back-nafter.webp');
}

.bg-EventX {
    background-image: url('../image/img-bg-popup/token-entertainment-back-EventX.webp');
}

.img-project {
    max-width: 120px;
}

.title-project-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 12px;
}

.project-icon {
    max-width: 12%;
}

.name-title-project {
    font-weight: 600;
    font-size: 52px;
    line-height: 64px;
    text-align: center;
    color: #6C5DB8;
}

/* CONTACT US */

.contact-us {
    color: var(--black-color);
    padding: 80px 10px;
}

.contact-us .heading {
    font-weight: 600;
    font-size: 52px;
    line-height: 64px;
    text-align: center;
    color: #101828;
}

.title-contact-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    gap: 12px;
}

.support-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    color: #667085;
}

.image-contact-us {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background: linear-gradient(89.76deg, rgba(236, 184, 255, 0.2) 0.21%, rgba(122, 97, 255, 0.2) 99.79%);
    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.18);
    border-radius: 32px;
    border: 3px solid #6C5DB8;
}

.head {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 6px;
}

.input-field {
    padding-bottom: 20px;
}

label.form-label {
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #344054;
}

.input-value {
    padding: 12px 16px;
    gap: 8px;
    min-height: 48px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgb(16 24 40 / 5%);
    border-radius: 8px !important;
    font-size: 16px !important;
    line-height: 24px;
}

.message {
    padding: 10px 14px;
    gap: 8px;
    min-height: 126px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;

}

.button-contact-us {
    padding: 5px 20px;
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, #A192F3 0%, #8877E1 100%);
    border-radius: 8px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.4px;
    border: none;
}

.btn-contact {
    color: #FFFFFF !important;
    font-size: 18px !important;
    border: none;
    background: none;
}

.button-contact-us:hover {
    background: #A192F3;
}

.button-contact-us {
    margin-top: 35px;
}

/* FOOTER */

.footer {
    background: #6C5DB8;
    padding: 60px 84px;
    margin-top: 60px;
}

.footer-logo {
    max-width: 144px;
    max-height: 48px;
    margin-bottom: 12px;
}

.footer .footer-description {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 140%;
    color: var(--white-color);
    margin-bottom: 20px;
}

.footer .footer-contact {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 140%;
    color: var(--white-color);
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
}

.footer .footer-address {
    font-size: 1.4rem;
    color: var(--white-color);
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
}

.icon-phone {
    min-width: 16px;
    height: 16px;
}

.icon-email {
    min-width: 20px;
    height: 13px;
}

.icon-adrress {
    width: 10.89px;
    height: 14px;
    left: 2px;
    top: 2px;
}

.name-phone {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
}

.name-address {
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
}

.member-moblie {
    display: flex;
}

.member-img-mobile {
    padding: 4px;
    background: linear-gradient(180deg, #ECB8FF -4.19%, #A192F3 53.64%, #8877E1 100%);
    border-radius: 8px;
}

.member-moblie {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.header .nav-bar .menu-mobile {
    display: none;
}


.service-flex {
    display: flex;
    gap: 10px;
}

.block-project {
    display: flex;
}

.project-logo {
    order: 2;
}

.project-image {
    order: 1;
}

.title-project-item-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 12px;
}

.title-project-item {
    display: none;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
}

.project-image {
    padding-top: 0px;
}

.our-vision {
    padding: 40px 0px;
}

.project-image {
    padding-left: 0px;
}

.form-about-us {
    padding-top: 40px;
    padding-left: 0px;
}

@media (max-width: 992px) {

    /* HEADER  */
    .header .nav-bar .menu-mobile {
        display: block;
    }

    .header .nav-bar .nav-list {
        display: none;
    }

    .header .nav-bar .nav-list.mobile {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 72px;
        background-color: var(--white-color);
        padding: 0 16px;
        padding-top: 32px;
        box-shadow: 0px 0px 7px 0px rgb(108 93 184 / 20%);
        ;
    }

    .header .nav-bar .nav-list.mobile .nav-item .nav-link {
        font-weight: 600;
        font-size: 20px;
        line-height: 25px;
        color: #333333;
        padding: 0;
        margin-bottom: 24px;
    }

    .header .nav-bar .nav-list.mobile .nav-item .nav-link:active {
        background: #F5F2FF;
        padding: 12px 16px;
    }



    .member-lightbox-mobile {
        display: flex;
        flex-direction: column;
        padding: 16px 16px 24px;
        gap: 12px;
        background: #FFFFFF;
        border-radius: 16px;
        width: 100%;
        margin: 0px 10px;
    }

    .member-lightbox {
        display: none;
    }

    .modal-dialog {
        width: 100% !important;
    }

    .custom-modal {
        padding-right: 0 !important;
        overflow-y: clip;
    }

    .modal-dialog-centered {
        width: 100%;
    }

    .member-img-mobile {
        max-width: 100%;
        width: 25%;
    }

    .member-img-mobile>img {
        width: 100%;
        height: 100%;
    }

    .member-job {
        text-align: start;
    }

    .member-name>h3 {
        font-size: 20px;
    }

    .member-job>p {
        font-size: 16px;
    }

    .member-info {
        width: 100%;
    }

    .member-info>.desc>.des {
        font-size: 14px;
        margin-bottom: 0;
    }

    .member-info>.desc>.desMobile {
        font-size: 14px;
        margin-bottom: 0;
    }

    .member-info>.desc>.desJPMobile {
        font-size: 14px;
        margin-bottom: 0;
    }

    body {
        width: 100%;
    }

    .title-home {
        width: 100%;
    }

    .title-home>h2 {
        font-size: 52px;
    }

    .title-home>p {
        font-size: 32px;
    }

    .home-content {
        gap: 16px
    }

    .flex-reverse {
        flex-direction: column-reverse;
        padding-bottom: 40px;
    }

    .padding-16-cus {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }

    .about-us {
        padding-top: 40px;
    }

    .title {
        margin-top: 24px;
        margin-bottom: 12px;
        font-size: 36px;
        line-height: 44px;
        font-weight: 600;
    }

    .description {
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
    }

    .footer {
        padding: 40px 16px;
    }

    .block-project {
        padding: 12px;
    }

    .our-services .service-card {
        height: 550px;
    }

    .our-team .team-card {
        margin-right: 16px;
    }

    .content-item-project {
        padding: 16px;
    }

    .des-project {
        font-size: 13px;
    }

    .tech-project {
        font-size: 14px;
    }

    .link-name {
        font-size: 14px;
    }

    .name-title-project {
        font-size: 28px;
    }

    .contact-us {
        color: var(--black-color);
        padding: 40px 16px;
    }

    .home {
        min-height: 0vh;
    }

    .our-services .service-card .card-title {
        font-size: 20px;
    }

    .our-services .service-card .card-description {
        font-size: 14px;
    }

    .our-team .heading {
        padding: 40px 0;
    }

    .heading {
        font-size: 3.6rem;
    }

    .our-mission {
        padding: 40px 0px;
    }

    .our-services .heading {
        padding-top: 40px;
    }

    .our-project {
        padding-top: 40px;
        padding-bottom: 0px;
    }

    .our-project .heading {
        font-size: 36px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .contact-us .heading {
        text-align: start;
        font-size: 36px;
    }

    .support-text {
        font-size: 16px;
        text-align: start;
        color: #333333;
    }

    .title-contact-us {
        align-items: start;
        gap: 0px;
    }

    .head {
        padding-bottom: 16px;
    }

    .input-field {
        padding-bottom: 2px;
    }

    .footer {
        margin-top: 10px;
    }

    .our-project .heading {
        text-align: start;
    }

    .project-image {
        padding-left: 0px;

    }

    h4.member-name-child {
        font-weight: 600;
        font-size: 20px;
        line-height: 25px;
        text-align: start;
    }

    h4.member-name-child-mobile {
        font-weight: 600;
        font-size: 20px;
        line-height: 25px;
        text-align: start;
    }

    h4.member-name-child-jp-mobile {
        font-weight: 600;
        font-size: 20px;
        line-height: 25px;
        text-align: start;
    }

}

@media (max-width: 767px) {
    .our-services .service-card {
        height: auto;
    }
}



@media (max-width:1199.98px) {
    .our-services .service-card .card-title {
        font-size: 19px;
        line-height: 65px;
    }

    /* .our-services .service-card .card-title {
        font-size: 19px;
        line-height: 65px;
    } */
}

@media (max-width: 375px) {
    .our-services .service-card .card-title-jp {
        font-size: 12px;
        line-height: 65px;
    }
}

@media (max-width:350px) {
    .our-services .service-card .card-title {
        font-size: 16px;
    }
}


.member-info {
    border-top: 2px solid #A192F3;
}


@media (min-width: 768px) {
    .img-member {
        border-radius: 20px;
    }

    .member-info {
        border-top: none;
    }

    .desc {
        padding-top: 19px;
        border-top: 2px solid #A192F3;
    }

    .service-flex {
        display: inline;
    }

    .our-services .service-card .service-img {
        min-width: 150px;
        margin: 20px;
    }

    .our-services .service-card {
        padding: 24px;
    }

    .project-icon {
        min-width: 15%;
    }

    .two-icon {
        padding-bottom: 160px;
    }

    .title-project-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 12px;
    }

    .title-project-item-mobile {
        display: none;
    }

    .project-logo {
        order: 1;
    }

    .project-image {
        order: 2;
    }

    .form-about-us {
        padding-top: 0px;
        padding-left: 48px;
    }

    .footer-flex {
        display: block;
    }

    .project-image {
        padding-top: 40px;
    }

    .our-team .heading {
        text-align: center;
    }

    .button-contact-us {
        margin-top: 45px;
    }


}

@media (min-width: 1200px) {
    .content-item-project {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 60px 40px;
        left: 40px;
        top: 60px;
    }
}