/*------------------------------------------------------------------
[Table of contents]

1.0 Block Technologies
-------------------------------------------------------------------*/
/* box-text element */
/* .box-text.style-center {
  margin-bottom: 48px;
} */
.box-text.style-center .desc-title {
  width: 75%;
  margin: 0 auto;
  padding-top: 38px;
}
.box-text.style-center .main-title {
  padding-bottom: 0;
}
.box-text .head-box {
  letter-spacing: 0.4px;
}
.box-text .head-title {
  color: #45b7f4;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 9px;
}

.main-title-home {
  font-family: 'Clash Grotesk';
  font-style: normal;
  font-weight: 600;
  /* font-size: 68px; */
  line-height: 110%;
  color: #A192F3;
}

.box-text .main-title {
  font-weight: 600;
  font-size: 52px;
  line-height: 64px;
  color: #333333;
}
.box-text p {
  /* line-height: 24px;
  margin-bottom: 24px;
  font-size: 14px; */

  /* font-weight: 600;  */
    font-size: 20px;
    line-height: 140%;
}

span {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #344054;
  display: inline-block;
  margin-bottom: 5px;
}

span.des-title-child {
  color: #A192F3;
  font-weight: 600;
}

/* box-style */
.box-style {
  margin-bottom: 27px;
}
.box-style.style-right {
  padding-right: 35px;
  float: right;
  text-align: right;
}
.box-style.style-right .title-head h2::before {
  right: 0;
}
.box-style.style-left {
  padding-left: 35px;
  float: left;
  text-align: left;
}
.box-style.style-left .title-head h2::before {
  left: 0;
}
.box-style.style-center {
  text-align: center;
  margin-top: 40px;
}
.box-style.style-center .title-head h2::before {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.box-style .title-head {
  width: 100%;
}
.box-style .title-head h2 {
  font-weight: 700;
  font-size: 20px;
  position: relative;
  padding-bottom: 19px;
  margin-bottom: 3px;
}
.box-style .title-head h2::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 35px;
  bottom: 0;
  background-color: #ea5541;
}
.box-style .description {
  margin-top: 10px;
}

/* icon-box element */
.icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 36px;
}
.icon-box .icon-box-title {
  display: inline-block;
  margin-right: 20px;
  width: 40px;
}
.icon-box .icon-box-title h3 {
  font-weight: 700;
  background: -webkit-gradient(linear, left top, right top, from(#45b7f4), to(#45eaf1));
  background: linear-gradient(90deg, #45b7f4 0%, #45eaf1 100%);
  margin: 0 0 9px;
  letter-spacing: 0.5px;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  font-size: 14px;
  line-height: 40px;
}
.icon-box .icon-box-desc {
  color: #fff;
  overflow: hidden;
  -webkit-box-flex: 0;
  width: calc(100% - 60px);
}
.icon-box .icon-box-desc p {
  margin-bottom: 0;
}

button.btn-view-more {
  width: 167px;
  height: 48px;
  background: linear-gradient(90deg, #A192F3 0%, #8877E1 100%);
  border-radius: 8px;
  border: none;
  font-size: 20px;
  padding: 12px 20px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #FFFF;
  margin-top: 20px;
}

button.btn-view-more:hover {
  background: #A192F3;;
}

button.btn-view-more:active {
  background: #6C5DB8 !important;
}
.box-text {
  padding-top: 96px;
  padding-bottom: 40px;
  font-family: 'Clash Grotesk';
  font-style: normal;
  /* font-weight: 600; */
  font-size: 52px;
  line-height: 64px;
  color: #333333;
}
.block-section-home {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 96px 0px;
    gap: 32px;
    background: linear-gradient(89.76deg, rgba(236, 184, 255, 0.08) 0.21%, rgba(122, 97, 255, 0.08) 99.79%);
 }
.member-type-project {
  text-align: center;
  border: 3px solid #A192F3;
  border-radius: 20px;
  padding: 12px 61px 12px 37px;
  /* padding: 20px; */
}
.member-type-project-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 61px;
  gap: 10px;
  width: 252.5px;
  height: 144px;
  border: 2px solid #A192F3;
  border-radius: 12px;
  flex: none;
  order: 0;
  flex-grow: 1;
  margin-bottom: 20px;
}

.member-type-project-bottom {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 61px;
  gap: 10px;
  width: 161.67px;
  height: 144px;
  background: #FFFFFF;
  border: 2px solid #A192F3;
  border-radius: 12px;

  flex: none;
  order: 0;
  flex-grow: 1;
}

.project-bottom{
  margin-top: 10px;
}
/* item-team element */
.member-type {
  text-align: center;
  border: 3px solid #8877E1;
  border-radius: 20px;
  padding: 10px;
}
.member-type .item-member-content:hover .member-img a::before {
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.member-type .item-member-content:hover .member-img a::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.member-type .member-img {
  position: relative;
}
.member-type .member-img a {
  display: block;
  color: #45b7f4;
}
.member-type .member-img a::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: #000;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.member-type .member-img a::after {
  position: absolute;
  content: "+";
  top: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  left: 50%;
  font-size: 120px;
  font-weight: 300;
  font-family: Raleway;
  margin-top: -20px;
  margin-left: -20px;
  z-index: 2;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.member-type .member-img img {
  width: 100%;
  border-radius: 20px;
}
.member-type .member-info {
  background: #FFFFFF none repeat scroll 0 0;
  padding: 29px 20px 17px;
}
.member-type .member-name h4 {
  text-transform: capitalize;
    font-weight: 500;
    font-size: 22px;
    /* line-height: 34px; */
    text-align: center;
    color: #6C5DB8;
}
.member-type .member-job {
  margin-bottom: 4px;
  color: #333;
  font-style: normal;
}
.member-type .member-job p {
  margin-bottom: 0;
}
.member-type .social-list {
  display: inline-block;
  padding: 0;
  margin-bottom: 0;
}
.member-type .social-list li {
  display: inline-block;
  padding: 0 11px;
}
.member-type .social-list li a {
  display: block;
  text-align: center;
  font-size: 14px;
  color: #aaa;
}

.member-name h4 {
  /* font-weight: 700;
  margin-bottom: 7px;
  letter-spacing: 0;
  text-transform: uppercase; */
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  color: #6C5DB8;
}

.member-job {
  color: #ababab;
  font-style: italic;
}

.member-job p {
  margin-bottom: 0;
}

.social-list {
  display: inline-block;
  padding: 0;
  margin-bottom: 0;
}

.social-list li {
  display: inline-block;
  padding: 0 11px;
}

.social-list li a {
  display: block;
  text-align: center;
  font-size: 14px;
  color: #aaa;
}

.social-list li a:hover {
  color: #d5a853;
}

.light-box {
	flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 80px;
    gap: 32px;
    position: absolute;
    width: 1272px;
    height: 582.61px;
    left: 300px;
    top: 142px;
    background: #FFFFFF;
    border-radius: 16px;
}

.light-box .fancybox-close-small::after {
  content: "\f00d";
  font-family: FontAwesome;
  font-weight: 400;
  background-color: transparent;
  border: none;
}

.fancybox-slide .light-box {
  /* padding: 50px; */
}

.member-lightbox {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -25px;
}

.member-lightbox .member-img {
  /* -webkit-box-flex: 0;
  float: left;
  padding: 0 25px; */
  display: flex;
  flex-direction: column;
  padding: 14.7422px;
  gap: 19.66px;
  width: 361.18px;
  height: 422.61px;
  background: linear-gradient(180deg, #ECB8FF -4.19%, #A192F3 53.64%, #8877E1 100%);
  border-radius: 24.5703px;
}


.member-lightbox .member-info {
  -webkit-box-flex: 0;
  width: 50%;
  float: left;
  padding: 0 25px;
  background-color: transparent;
}

.member-lightbox .member-name h4 {
  font-size: 24px;
  margin-bottom: 2px;
}

.member-lightbox .member-job p {
  margin-bottom: 0;
  color: #282828;
  font-size: 28px;
  font-style: initial;
}

.member-lightbox .social-list {
  margin: 0 -11px;
}

.member-lightbox .desc {
  padding-top: 15px;
}

span.hr_member {
  width: 718.82px;
  height: 2px;
  background: linear-gradient(90deg, #A192F3 0%, #8877E1 100%);
  margin-top: 17px;
}

p.des {
  width: 718.82px;
  height: 196px;
}

.bg-has-gradient .progress-line .progress-bar {
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #d5a853), to(#13264a));
  background: linear-gradient(90deg, #d5a853 0, #13264a 100%);
}

.progress-line {
  padding-top: 36px;
}

.progress-line h4 {
  font-size: 12px;
  color: #000;
  height: 100%;
  font-weight: 400;
  margin-bottom: 12px;
}

.progress-line .progress {
  height: 5px;
  margin-bottom: 19px;
  background-color: #ebebeb;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: relative;
  overflow: visible;
}

.progress-line .progress:last-child {
  margin-bottom: 0;
}

.progress-line .progress-bar {
  background: -webkit-gradient(linear, left top, right top, from(#45b7f4), to(#45eaf1));
  background: linear-gradient(90deg, #45b7f4 0%, #45eaf1 100%);
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.progress-line .progress-bar span {
  color: #696969;
  position: absolute;
  right: 0;
  top: -25px;
  z-index: 1;
  font-size: 12px;
}

.animated-modal {
  overflow: hidden;
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.animated-modal .desc p,
.animated-modal .member-job p,
.animated-modal .member-name h4,
.animated-modal .member-socials,
.animated-modal .progress-line {
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
  opacity: 0;
  -webkit-transition-property: transform, opacity;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.fancybox-slide--current .animated-modal,
.fancybox-slide--current .animated-modal .desc p,
.fancybox-slide--current .animated-modal .member-job p,
.fancybox-slide--current .animated-modal .member-name h4,
.fancybox-slide--current .member-socials,
.fancybox-slide--current .progress-line {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.fancybox-slide--current .animated-modal .member-name h4 {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.fancybox-slide--current .animated-modal .member-job p {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.fancybox-slide--current .animated-modal .member-socials {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.fancybox-slide--current .animated-modal .desc p {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.fancybox-slide--current .animated-modal .progress-line {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
/* image */
.image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.img-service {
  width: 140px;
  /* border: 1px solid red; */
  border-radius: 50%;
  display: inline-block;
  margin: 20px;
  margin-bottom: 30px;
  box-shadow: #eee 0px 22px 70px 4px;
  background: linear-gradient(89.76deg, rgba(236, 184, 255, 0.08) 0.21%, rgba(122, 97, 255, 0.08) 99.79%);
  /* background-image: url("../image/about_us.png"); */
}

/* item-faq */
.item-faq {
  /* background-color: #fff; */
  padding: 24px;
  margin-bottom: 35px;
  height: 440px;
  border-radius: 16px;
  text-align: center;
  background: linear-gradient(#454C5C 20%, #181126 100%, #FFFFFF33 20%);
  color: white;
  border: 1px solid #282828;
}
.item-faq h4 {
  /* font-size: 16px;
  font-weight: 700;
  color: white;
  margin-bottom: 15px; */

  margin-bottom: 10px;
  font-weight: 500;
  font-size: 22px;
  line-height: 34px;
  text-align: center;
  color: #FFFFFF;
}
.item-faq p {
  margin-bottom: 3px;
}

/* block slider */
.slider-boxed {
  /* padding-left: 100px; */
  /* padding-right: 100px; */
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.img-gallery {
  position: relative;
}

.item-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box-text-slider .head-title {
  color: #fff;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 400;
  line-height: 35px;
}
.box-text-slider .main-title {
  color: #fff;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 700;
  line-height: 40x;
}
.box-text-slider .text-des {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

/* block-what-it */
.block-what-it .content-what-it {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
textarea {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 14px;
  gap: 8px;
  width: 588px;
  height: 126px;
  background: #FFFFFF;
  border: 1px solid #D0D5DD;
  box-shadow: 0px 1px 2px rgb(16 24 40 / 5%);
  border-radius: 8px;
}
.form-contact{
  width: 588px;
  height: 48px;
}
p.des-contact{
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  color: #667085;
}

.box-text-img {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* gap: 32px; */
  border: 3px solid #A192F3;
  border-radius: 20px;
  background: linear-gradient(89.76deg, rgba(236, 184, 255, 0.08) 0.21%, rgba(122, 97, 255, 0.08) 99.79%);
}

/* block-technologies */
.block-technologies {
  background-color: #f5f5f5;
}
.right-content-project {
  display: flex;
  width: 2575px;
  transform: translateX(0px);
}
.right-content-project-invest{
  display: flex;
  transform: translateX(0px);
}
.right-content-project-finance{
  display: flex;
  transform: translateX(0px);
}
.right-content-project-insurance{
  display: flex;
  transform: translateX(0px);
}
.right-content-project-education{
  display: flex;
  transform: translateX(0px);
}
.right-content-project-entertainment{
  display: flex;
  transform: translateX(0px);
}
.right-content-project-others{
  display: flex;
  transform: translateX(0px);
}

.right-content-item {
  min-width: 515px;
  height: 428px;
}

.logo-active {
  background: #E2DCFF;
}
.bg-Mavia{
  background-image: url('../image/img-bg-popup/nft-game-Mavia.webp');
}

.right-content-project-list {
  overflow: hidden;
  width: 515px;
  height: 411px;
}

/* block-how-it-works */
.block-how-it-works {
  /* background: linear-gradient(45deg, rgb(61, 36, 145) 0%, rgb(154, 39, 148) 100%); */
  background: #1A1328;
  border-radius: 40px;
}
.block-how-it-works .box-text .main-title {
  color: #fff;
}
.block-how-it-works .box-text .desc-title {
  color: #fff;
}
.block-how-it-works .img-center {
  margin-bottom: 48px;
}
.block-how-it-works .list-items {
  padding-top: 70px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

/* block-apps */
.block-apps .box-text .head-box {
  padding-bottom: 41px;
}
.block-apps .box-text .desc-title {
  margin-bottom: 10px;
  padding-bottom: 14px;
}
.block-apps .list-items.style3 li::before {
  color: #45b7f4;
}
.block-apps .link-app a {
  color: #45b7f4;
}

/* block team */
.block-team {
  background-color: #FFFF;
}

.right-content-mobile{
  display: none;
}


.row.content-our-project {
  display: flex;
	flex-direction: row;
	align-items: center;
	padding: 32px 40px;
	gap: 32px;
  background: #F5F2FF;
  border-radius: 16px;
}
.project-title{
  display: flex;
  gap: 20px;
}
.project-title img{
  width: 100px;
  height: 100px;
}
.project-name h4{
  font-family: 'Clash Grotesk';
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 100px;
  text-align: center;
  color: #6C5DB8;
}

h4.title-project-name {
  font-weight: 600;
  font-size: 52px;
  line-height: 100px;
  text-align: center;
  color: #6C5DB8;
}

/*block faq */
.block-faq {
  background: linear-gradient(45deg, rgb(61, 36, 145) 0%, rgb(154, 39, 148) 100%);
}
.block-faq .box-text .main-title {
  color: #fff;
}
.block-faq .box-text .desc-title {
  color: #fff;
}
.block-faq .right-faq {
  padding-top: 80px;
}
.block-faq .list-faq {
  position: relative;
}
.block-faq .list-faq::before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  height: 100%;
  z-index: 1;
  width: 1px;
  display: block !important;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

/* block projects */
.list-projects .slick-slider .slick-arrow.btn-prev {
  left: 15px;
}
.list-projects .slick-slider .slick-arrow.btn-next {
  right: 15px;
}
.list-projects .slick-slider .slick-arrow:hover,
.list-projects .slick-slider .slick-arrow:focus {
  background-color: #000;
}

@media only screen and (max-width: 1200px) {
  .box-style.style-right .title-head h2::before {
    left: 0;
  }

  .head-style-left {
    padding-top: 50px;
  }

  .img-block-keys {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .slider-boxed {
    /* padding-left: 100px; */
    /* padding-right: 100px; */
    padding-top: 25px;
  }

  .box-style.style-right {
    padding-right: 0;
    float: left;
    text-align: left;
  }
}

.img-game {
  border-radius: 16px;
  height: 410px !important;
  width: 649px !important;
}

.content-project {
  display: flex;
  background: #F5F2FF;
  border-radius: 16px;
  padding: 32px 40px;
  margin-bottom: 20px;

}

.project-img {
  width: 120px;
  height: 120px;
}
.project-img-top {
  width: 120px;
  height: 120px;
}
/* @media only screen and (max-width: 1440px) {
  .member-type-project-top{
    width: 252.5px;
    height: 144px;
    margin-bottom: 20px;
  }
  .member-type-project-bottom{
    width: 161.67px;
    height: 144px;
    display: grid;
  }
  .img-gallery .item-slider {
		padding: 84px;
		margin-top: 106.26px;
	  }
} */
@media only screen and (max-width: 1024px) {
  /* .member-type-project-top{
		padding: 0px !important;
	} */
  /* .project-img-top {
    width: 120px;
    height: 120px;
  }
  .project-img {
    width: 120px;
    height: 120px;
  } */
  /* .member-type-project-top{
    width: 203px;
    height: 144px;
  } */
  .member-type-project-bottom{
    width: 100px;
    height: 144px;
    display: grid;
  }
}
@media only screen and (max-width: 960px) {
  .block-what-it .content-what-it {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .box-style.style-center .title-head h2::before {
    left: 15px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .box-style.style-center {
    text-align: left;
    margin-top: 40px;
    padding: 0 15px;
  }

  .block-technologies .style-left {
    padding: 40px 0 0 0;
  }

  .box-text-slider .head-title {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    padding-bottom: 0px;
  }

  .box-text-slider .main-title {
    font-size: 18px;
    letter-spacing: 0.6px;
    font-weight: 700;
    text-transform: uppercase;
    word-spacing: 3px;
    margin-bottom: 10px;
  }

  .box-text-slider .text-des {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }

  .img-gallery .item-slider {
    padding: 15px;
	
  }

  .item-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: block;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .icon-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 10px;
  }

  /* block team */
  .member-lightbox .member-img {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0px;
  }

  .member-type1 .member-name h4 {
    padding-top: 5px;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .member-lightbox .desc {
    padding-top: 0px;
  }

  .progress-line {
    padding: 0;
  }

  .member-lightbox .member-info {
    -webkit-box-flex: 0;
    width: 100%;
    float: left;
    padding: 0 25px;
    background-color: transparent;
  }

  .member-lightbox {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 -25px;
  }

  .light-box {
    display: none;
    width: 90vw;
    padding: 50px;
  }

  /* end block team */
}
@media only screen and (max-width: 768px) {
  .member-type-project-top{
    width: 316.5px;
    height: 144px;
  }
  .member-type-project-bottom{
    width: 197.67px;
    height: 144px;
    display: grid;
  }
  .project-bottom {
    /* display: flex; */
    /* margin-bottom: 10px; */
  }
  .project-img-top {
    width: 120px;
    height: 120px;
  }
}
@media only screen and (max-width: 640px) {
  .img-game {
    margin-top: 10px;
  }

  /* .member-type-project-bottom{
    padding: 12px 61px 12px 24px;
  } */
  /* block team */
  .member-lightbox .member-img {
    -webkit-box-flex: 0;
    width: 80%;
    float: left;
    padding: 0px;
  }

  .member-type1 .member-name h4 {
    padding-top: 5px;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .member-lightbox .desc {
    padding-top: 0px;
  }

  .progress-line {
    padding: 0;
  }

  .fancybox-slide .light-box {
    padding: 10px;
  }

  .member-lightbox .member-info {
    -webkit-box-flex: 0;
    width: 100%;
    float: left;
    padding: 0 25px;
    background-color: transparent;
  }

  .member-lightbox {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 -25px;
  }

  .light-box {
    display: none;
    width: 90vw;
    padding: 50px;
  }

  /* end block team */
  /* block technologies  */
  .box-text.style-center {
    margin-bottom: 0;
  }
  .project-mobile {
    display: none;
  }

  .block-what-it .content-what-it {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .block-technologies .style-left {
    margin-top: 40px;
  }

  .box-style.style-center .title-head h2::before {
    left: 15px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .box-style.style-center {
    text-align: left;
    margin-top: 40px;
    padding: 0 15px;
  }

  /* end block technologies  */
  /* start block footer  */
  .footer-menu-list .box-content {
    margin-bottom: 10px;
  }

  .footer-menu-list .footer-title {
    padding: 10px 0;
  }

  .footer-menu-list li {
    margin-bottom: 0px;
  }

  /* end block footer  */
  /* start block slider  */
  .box-text-slider .head-title {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    padding-bottom: 0px;
  }

  .box-text-slider .main-title {
    font-size: 18px;
    letter-spacing: 0.6px;
    font-weight: 700;
    text-transform: uppercase;
    word-spacing: 3px;
    margin-bottom: 10px;
  }

  .box-text-slider .text-des {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }

  .img-gallery .img-bg-slider {
    width: auto;
    height: 75vh;
  }

  .img-gallery .item-slider {
    padding: 0 15px;
  }

  .item-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: block;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  /* end block slider  */
  .block-faq .right-faq {
    padding-top: 0px;
  }

  .item-faq {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
  }

  .block-how-it-works .img-center {
    margin-bottom: 20px;
  }

  .box-style .title-head h2 {
    font-weight: 700;
    font-size: 14px;
    position: relative;
    padding-bottom: 8px;
    margin-bottom: 3px;
  }

  .box-text .head-title {
    color: #45b7f4;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 0px;
  }

  .icon-box .icon-box-title h3 {
    margin: 0;
  }

  .icon-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 5px;
  }

  .block-how-it-works .list-items {
    padding-top: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }

  .box-text.style-center .desc-title {
    width: 75%;
    margin: 0 auto;
    padding-top: 0px;
    margin-bottom: 0px;
  }

  .box-text .main-title {
    /* font-size: 18px; */
    /* letter-spacing: 0.6px; */
    /* line-height: 30px; */
    /* font-weight: 700; */
    /* text-transform: uppercase; */
    /* word-spacing: 3px; */
    margin-bottom: 10px;
    padding-bottom: 0;
    font-weight: 600;
    font-size: 52px;
    line-height: 64px;
    color: #333333;
  }

  .slider-boxed {
    padding-left: 0;
    padding-right: 0;
  }

  .box-style.style-right {
    padding-right: 0;
    float: left;
    text-align: left;
  }

  .box-style.style-left {
    padding-left: 0;
    float: left;
    text-align: left;
  }

  /* .block-section {
    padding: 25px 0;
  } */

}

/* @media only screen and (max-width: 375px) {
  .img-game {
    width: 304px;
    height: 360px;
  }
  .member-type-project-bottom{
    width: 96px;
    height: 96px;
    background: #E2DCFF;
    display: grid;
  }
  .project-img {
    width: 64px;
    height: 64px;
  }
  .project-img-top {
    width: 64px;
    height: 64px;
  }
  .member-type-project-top {
    width: 96px;
    height: 96px;
    display: grid;
  }
} */

@media only screen and (max-width: 375px) {
  .project-name h4 {
    line-height: 60px;
  }
  .project-title img {
    height: 50px;
    width: 50px;
}
  .project-title{
    display: none;
  }
  .project-title.project-mobile{
    display: block;
    height: 60px;
    display: flex;
  }
  span.hr_member {
    width: 296px;
  }
  p.des {
    width: 315px;
    height: 240px;
    font-size: 14px;
  }
  .member-type1 .member-name h4 {
    line-height: 60px;
    font-size: 20px;
    padding-left: 20px;
    height: 50px;
  }
  p.des-memmber-info {
    font-weight: 800;
    font-size: 21px;
    line-height: 140%;
    text-align: center;
    color: #333333;
    font-style: initial;
    padding-top: 5px;
}
  .member-moblie{
    display: flex;
  }
  .member-img-mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4px;
    width: 100px;
    height: 100px;
    background: linear-gradient(180deg, #ECB8FF -4.19%, #A192F3 53.64%, #8877E1 100%);
    border-radius: 8px;
}
  .member-lightbox {
    display: none !important;
}
  .member-lightbox-mobile {
    display: block;
  }
.light-box {
    padding: 80px;
    left: -53px;
    top: -110px;
    flex-direction: column;
    align-items: center;
    padding: 16px 16px 24px;
    gap: 12px;
    position: relative;
    height: 430px;
    background: #FFFFFF;
    border-radius: 16px;
}

img.img-member {
  width: 92px;
  height: 92px;
  border-radius: 8px;
}

.member-lightbox .member-info {
  width: 245px !important;
}

  img.logo-close-mobile {
    width: 12px;
    height: 12px;
}
  .logo-mobile img {
    width: 167.3px;
    height: 40px;
}
  .project-mobile-logo{
    order: 2;
  }
  .project-mobile-bg{
    order: 1;
  }
  .img-game {
    height: 400px !important;
    border-radius: 8.08629px;
}
  .des-project {
    font-size: 13px;
  }
  .tech-project {
    font-size: 14px ;
  }
  .link-name {
    font-size: 14px ;
  }
  .content-item-project {
    padding: 36px 40px !important;
    width: 300px;
    height: 360px;
    /* overflow: hidden; */
  }
  .right-content-item {
    min-width: 300px;
  }
  .right-content-project {
    width: 1500px;
  }
  .right-content-project-invest{
    width: 900px;
  }
  .right-content-project-finance{
    width: 900px;
  }
  .right-content-project-insurance{
    width: 600px;
  }
  .right-content-project-education{
    width: 600px;
  }
  .right-content-project-entertainment{
    width: 1200px;
  }
  .right-content-project-others{
    width: 900px;
  }
  .right-content-project-list {
    width: 300px;
  }

  .block-what-it .content-what-it {
    background: none;
  }
  .img-gallery .item-slider {
		padding: 84px;
		margin-top: 106.26px;
	}
  .logo-mobile {
    padding: 15px;
}

  .main-title-home {
    font-size: 50px;
}
  .desc-title-home {
    font-size: 32px;
    font-family: 'Clash Grotesk';
    font-style: normal;
    font-weight: 400;
    line-height: 39px;
    color: #333333;
    width: 363px;
    height: 117px;
  }
  .left-content img {
    width: 328px;
    height: 328px;
  }
  button.btn-view-more:hover {
    background: #A192F3;;
  }
  
  button.btn-view-more:active {
    background: #6C5DB8 !important;
  }
  .openmenu .header-center {
    left: 0;
    opacity: 1;
    visibility: visible;
    width: 335px;
}
.header-center, .header-ver, .searchform_wrap {
  width: calc(100% - 230px);
}
  .right-content-des {
    display: none;
  }
  .right-content-mobile{
    display: block;
    position: relative;
		display: flex;
		justify-content: center;
  }
  .box-text {
    padding-top: 37px;
    padding-bottom: 15px;
  }
  .box-text .main-title {
    text-align: start;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #333333;
}
  .box-text p {
    font-size: 16px;
    line-height: 140%;
  }
  .item-faq {
    /* display: flex; */
    /* flex-direction: row; */
    align-items: flex-start;
    padding: 16px;
    width: 328px;
    height: 204px;
    background: linear-gradient(0deg, #181126 0%, #454C5C 100%);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 16px;
}
  .img-service {
    border-radius: 50%;
    background: linear-gradient(89.76deg, rgba(236, 184, 255, 0.08) 0.21%, rgba(122, 97, 255, 0.08) 99.79%);
    position: absolute;
    width: 40px;
    height: 40px;
    left: 10.6px;
    /* top: -10px; */
  }
  .item-faq h4 {
    margin-bottom: 38px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
  }
  .team{
    display: flex;
    overflow-x: scroll;
  }
  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #CCCCCC;
  }
  .member-type {
    text-align: center;
    border: 3px solid #8877E1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 12px 16px;
    gap: 16px;
    width: 242px;
    height: 356px;
    background: #FFFFFF;
    border-radius: 16px;
}
  .member-type .member-info {
    background: none;
  }
  .block-section {
    padding: 25px 0;
  }
  section#projects {
    padding-left: 15px;
    padding-right: 15px;
  }
  .content-project {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    gap: 12px;
    width: 326px;
    /* height: 658px; */
    background: #F5F2FF;
    border-radius: 16px;
  }
  p.des-contact {
    text-align: start;
  }
  .project-name h4 {
    font-size: 28px;
  }
  .footer-crypto {
    margin-top: 571px;
    padding: 40px 16px;

  }

  .form-top {
    padding-left: 115px;
    padding-right: 115px;
  }
  .form-bottom {
    padding-left: 115px;
    padding-right: 115px;
  }
  .button-contact {
    width: 328px;
  }
  .hr_footer{
    display: block;
    height: 2px;
    background: #A192F3;
    margin-top: 133px;

  }
  .member-type-project-top {
    padding: 12px 45px;
    width: 64px;
    height: 104px;
    margin-bottom: 8px;
  }
  .member-type-project-bottom {
    padding: 12px 45px;
    width: 0px;
    width: 64px;
    height: 104px;
  }
  .project-img {
    width: 64px;
    height: 64px;
  }

  img.menu-mobile {
    position: absolute;
    width: 18px;
    height: 12px;
  }

  .project-img-top {
    width: 64px;
    height: 64px;
    margin-left: -30px;
    margin-top: 7px;
  }
 .member-type-project-top {
  display: none;
 }

 .member-type-project-top-mobile {
  display: block;
 }
 .member-type-project-bottom-mobile{
  display: block;
  margin-bottom: 10px;
 }
 .project-img-mobile {
  display: block;
  width: 64px;
  height: 64px;
  margin-left: -30px;
  margin-top: 7px;
}

}





.ncc-footer {
  color: #fff;
  padding-bottom: 10px;
  display: block;
  padding-top: 20px;
}
.ncc-footer i {
  padding-right: 5px;
}