.vc-row {
    background-image: url("/assets/image/back-ground.jpg");
}

.logo-pt {
    padding-top: 50px;
}

.content-two {
    display: flex;
 
}

.two-left {
    flex: 1 1 0%;
}

.two-right {
    flex: 1 1 0%;
}

.page-three {
    background-color: rgb(245, 245, 245);
    padding: 100px 0 64px 0;
}

.three-bot {
    display: flex;
}

.page-four {
    background-image: url(/assets/image/back-ground.jpg);
    padding: 97px 0 81px 0;
}

.page-five-content {
    display: flex;
    padding: 100px 0 80px 0;
}

.page-six {
    background-color: rgb(245, 245, 245);

}

.page-seven {
    background-image: url(/assets/image/back-ground.jpg);

}

.seven-content {
    display: flex;
    padding: 100px 0 80px 0;

}

.vc_toggle{
    margin: 0 20px;

}

.footer-v2 {
    background-image: url(/assets/image/bg-footer.jpg);
}

.title-heading{
    font-size: 30px;
    font-weight: 700;
    word-spacing: 3px;
    text-transform: uppercase;
}

.two-wrapper{
    padding:101px 0 68px 0;
}


.small-title {
    color: #45b7f4;
    font-size: 24px;
    font-size: 24px;
    text-transform: uppercase;

}

#token-sale {
    padding: 100px 0 80px 0;
}

#roadmap {
    padding: 100px 0 100px 0
}
#team {
    padding: 100px 0;
}

#faq {
    padding: 100px 0;
}

#blog {
    padding: 100px 0;
}

#menu-home-onepage-9 li a {
    color: black;
}